<ion-view view-title="Qusasat">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" id="imageChanged" style="">
            <div class="content">
                <!--<div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>-->
                <!--<h3><a class="light">Daenerys Targaryen</a></h3>-->
            </div>
        </div>
        <!--<h4 class="content padding double-padding-x">Following</h4>-->
        <div class="list animate-fade-slide-in-right">
            <!--<a ui-sref="app.friends" class="item item-avatar item-icon-right">-->
                <!--<img src="img/jon-snow.jpg">-->
                <!--<h2>Jon Snow</h2>-->
                <!--<p>Da illest illegitimate</p>-->
                <!--<i class="icon ion-chatbubble muted"></i>-->
            <!--</a>-->
            <!--<a ui-sref="app.friends" class="item item-avatar item-icon-right">-->
                <!--<img src="img/sansa.jpg">-->
                <!--<h2>Sansa Stark</h2>-->
                <!--<p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>-->
                <!--<i class="icon ion-chatbubble muted"></i>-->
            <!--</a>-->
            <!--<a ui-sref="app.friends" class="item item-avatar item-icon-right">-->
                <!--<img src="img/tyrion.jpg">-->
                <!--<h2>Tyrion Lannister</h2>-->
                <!--<p>B.A.M.F. imp</p>-->
                <!--<i class="icon ion-chatbubble muted"></i>-->
            <!--</a>-->

            <div class="list">
                <ion-md-input placeholder="" highlight-color="stable" type="text"></ion-md-input>
            </div>
            <div class="padding">
                <button class="button button-full button-balanced ink" ng-click="solved()">اجب</button>
            </div>
        </div>
    </ion-content>
</ion-view>
